<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>
    <h1>Project links</h1>
    <ul>
      {% for link in links %}
      <li>
        <a href="{{ link.url }}">{{ link.title }}</a> - {{ link.description }}
      </li>
      {% endfor %}
    </ul>
    <button><a href="{% url 'home' %}">Back</a></button>
  </body>
</html>
