<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About Me</title>

    {% load static %}

    <link rel="stylesheet" href="{% static 'css/main.css' %}" />
    <link rel="stylesheet" href="{% static 'css/about.css' %}" />
  </head>
  <body>
    <nav class="nav">
      <a class="nav-link" href="{% url 'home' %}">Home</a>
      <a class="nav-link" href="{% url 'links' %}">My Projects</a>
      <a class="nav-link" href="{% url 'about' %}">About Me</a>
      <a class="nav-link" href="{% url 'name' %}">Name Entry</a>
      <img class="imgs" src="{% static 'assets/bow_arrow.png' %}" />
    </nav>

    <img class="me_img" src="{% static 'assets/Laney.JPG' %}" />
    <p class="career">
      Hello! My name is Laney Staggs, and I'm currently pursuing a Python
      certification as part of my journey to deepen my programming skills.
      Throughout this process, I have been driven by a passion for coding and a
      desire to constantly improve and expand my knowledge in both back-end and
      front-end development. To showcase my work, I created this Django
      application, which serves as a personal portfolio highlighting the
      projects I’ve developed and the skills I’ve honed. This platform not only
      demonstrates my technical abilities, but also my commitment to continuous
      learning and growth within the field of software development. My ultimate
      goal is to build a career in Python programming or front-end development,
      where I can leverage my skills and creativity to design impactful,
      user-friendly applications. I am excited by the opportunity to contribute
      to meaningful projects, collaborate with other talented professionals, and
      continue developing solutions that make a real difference.
    </p>

    <footer>
      <nav class="foot">
        <button
          class="mail"
          onclick="window.location.href='mailto:your-email@example.com?subject=Contact%20Laney&body=Hi%20Laney,';"
        >
          <img
            class="icon"
            src="{% static 'assets/icon.png' %}"
            alt="Envelope
          Icon"
          />
        </button>
      </nav>
    </footer>
  </body>
</html>
